<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head th:replace="fragments/head :: head(title='Home', css='/css/home.css')">
  </head>

  <body>
    <div class="container">
      <nav class="nav justify-content-end">
        <a class="nav-link" th:href="@{/logout}"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </nav>

      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <img th:src="@{/img/waving-hand.png}" alt="waving hand"/>
            <div>
              <h1
              th:utext="'Welcome ' + ${user.getName} + '!'"
            ></h1>
            <p id="userHeader" th:text="'(@' + ${user.getUsername} + ')'"></p>
            </div>
            
          </div>
          <br />
          <div class="panel-body">
            <form
              th:object="${todoUser}"
              action="/user/home"
              th:action="@{/user/home}"
              method="POST"
            >
              <div class="form-group row">
                <div class="col col-12 col-sm-10 col-lg-11">
                  <input
                    th:value="${todoUser.itemContent}"
                    type="text"
                    id="itemContent"
                    name="itemContent"
                    placeholder="Create new todo"
                    class="form-control"
                  />
                </div>
                <button
                  class="col col-12 col-sm-2 col-lg-1 btn btn-primary btn-block"
                  name="Submit"
                  type="Submit"
                  th:text="Create"
                ></button>
              </div>
              <div
                th:if="${successMessage}"
                th:text="${successMessage}"
                class="alert alert-success"
                role="alert"
              ></div>
              <div
                th:if="${errorMessage}"
                th:text="${errorMessage}"
                class="alert alert-danger"
                role="alert"
              ></div>
            </form>
            <br />
            <div
              class="alert alert-info"
              role="alert"
              th:if="${#lists.isEmpty(user.getTodoList)}"
            >
              <h4 class="alert-heading">No items to show</h4>
              <p>
                You don't have any TODOs created. Start your productivity
                journey by creating one.
              </p>
            </div>
            <table
              class="table table-hover table-responsive-md"
              th:unless="${#lists.isEmpty(user.getTodoList)}"
              aria-describedby="User's todos"
            >
              <thead>
                <tr>
                  <th scope="col">Last Modified</th>
                  <th id="description-col" scope="col">Description</th>
                  <th scope="col">Completed</th>
                  <th class="w-auto" scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item: ${user.getTodoList}">
                  <td
                    th:text="${item.getFormattedModifiedAt}"
                    th:classappend="${item.getCompleted} ? completed : ''"
                  ></td>
                  <td
                    th:text="${item.getContent}"
                    th:classappend="${item.getCompleted} ? completed : ''"
                  ></td>
                  <td>
                    <input
                      type="checkbox"
                      disabled
                      name="active"
                      th:checked="${item.getCompleted}"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-warning btn-sm"
                      data-bs-toggle="modal"
                      th:data-id="${item.getId}"
                      th:data-completed="${item.getCompleted}"
                      th:data-content="${item.getContent}"
                      data-bs-target="#editModal"
                    >
                      <i class="far fa-edit"></i>
                    </button>
                    <button
                      type="button"
                      id="delete"
                      class="btn btn-danger btn-sm"
                      data-bs-toggle="modal"
                      th:data-content="${item.getContent}"
                      th:data-id="${item.getId}"
                      data-bs-target="#deleteModal"
                    >
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div th:replace="fragments/modals :: edit"></div>
    <!-- Delete Modal -->
    <div th:replace="fragments/modals :: delete"></div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script type="text/javascript" th:src="@{/scripts/modals.js}"></script>
  </body>
</html>
