<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments/head :: head(title='Home', css='@{/css/home.css}')"> </head>

  <body>
    <div class="container">
      <nav class="nav justify-content-end">
        <a class="nav-link" th:href="@{/logout}">Logout</a>
      </nav>

      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1 th:utext="'Welcome ' + ${userName} + '!'"></h1>
          </div>

          <div class="panel-body">
            <h3 th:if="${#lists.isEmpty(todoList)}">No items to show</h3>

            <form
              th:object="${todoUser}"
              action="/user/home"
              th:action="@{/user/home}"
              method="POST"
            >
              <div class="form-group row">
                <div class="col col-12 col-sm-10 col-md-11">
                  <input
                    th:value="${todoUser.itemContent}"
                    type="text"
                    id="itemContent"
                    name="itemContent"
                    placeholder="Create new todo"
                    class="form-control"
                  />
                </div>
                  <button
                    class=" col col-12 col-sm-2 col-md-1 btn btn-primary btn-block"
                    name="Submit"
                    type="Submit"
                    th:text="Create"
                  ></button>
              </div>
            </form>
            <br>
            <table
              class="table table-hover"
              th:unless="${#lists.isEmpty(todoList)}"
              aria-describedby="User's todos"
            >
              <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Completed</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item: ${todoList}">
                  <td th:text="${item.getContent}" th:classappend="${item.getCompleted} ? completed : ''"></td>
                  <td><input type="checkbox" name="active" th:checked="${item.getCompleted}" /></td>
                  <td>
                    <a class="btn btn-warning btn-sm" href="/edit/{{employee.id}}">Edit</a> |
                    <button 
                      type="button" 
                      id="delete" 
                      class="btn btn-danger btn-sm" 
                      data-toggle="modal" 
                      data-id="{{employee.id}}"
                      data-name="{{employee.name}}"
                      data-surname="{{employee.surname}}"
                      data-target="#modalDelete"
                      >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
