<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title th:text="${title}"></title>
        <link th:rel="stylesheet" type="text/css" th:href="@{css/global.css}" />
        <link th:rel="stylesheet" type="text/css" th:href="@{${css}}" />
        <link
          th:rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
        />
        <script th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script src="https://kit.fontawesome.com/38fcb9b62d.js" crossorigin="anonymous"></script>
      </head>
<body>
</body>
</html>