<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head
    th:replace="fragments/head :: head(title='Login', css='/css/login.css')"
  >
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
          <div class="col col-12 col-md-5">
            <h1>¡Welcome!</h1>
          </div>
        <div class="col col-12 col-md-5">
          <aside>
            <h3 class="form-signin-heading" th:text="Login"></h3>
            <form th:action="@{/login}" method="POST">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  id="username"
                  name="username"
                  aria-label="Username"
                  class="form-control"
                  placeholder="Username"
                />
                <label for="floatingInput">Username</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                />
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Remember me
                </label>
              </div>
              <div th:if="${param.error}">
                <p style="font-size: 20; color: #ff1c19">
                  User Name or Password invalid, please verify
                </p>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </form>
            <a th:href="@{/registration}">Or sign up</a>
          </aside>
        </div>
      </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
