<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>

<head th:replace="fragments/head :: head(title='Login', css='@{/css/login.css}')"> </head>

  <body>
    <div class="container-sm">
      <div class="row form-signin align-items-center justify-content-center">
        <div clas="col col-12">
          <h3 class="form-signin-heading" th:text="Welcome"></h3>
        </div>
        <div clas="col col-sm-2">
          <form th:action="@{/login}" method="POST">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="User Name"
              class="form-control"
            />
            <br />
            <input
              type="password"
              th:placeholder="Password"
              id="password"
              name="password"
              class="form-control"
            />
            <br />

            <div th:if="${param.error}">
              <p style="font-size: 20; color: #ff1c19">
                User Name or Password invalid, please verify
              </p>
            </div>
            <button
              class="btn btn-primary btn-block"
              name="Submit"
              value="Login"
              type="Submit"
              th:text="Login"
            ></button>
          </form>
        </div>
        <div class="col col-12">
          <a th:href="@{/registration}">Or sign up</a>
        </div>
      </div>
    </div>
  </body>
</html>
