<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head
    th:replace="fragments/head :: head(title='Sign Up', css='/css/registration.css')"
  >
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row vh-100 align-items-center justify-content-center">
          <div class="sign-up-form col col-12 col-md-5">
            <h3 class="form-signin-heading">Sign up</h3>
            <form
              autocomplete="off"
              action="registration"
              th:action="@{/registration}"
              th:object="${user}"
              method="post"
              class="form-horizontal"
              role="form"
            >
            <div class="form-floating mb-3">
              <input
                type="text"
                id="name"
                name="name"
                aria-label="Name"
                class="form-control"
                placeholder="Name"
                th:field="*{name}"
                th:value="${user.name}"
              />
              <label for="floatingInput">Name</label>
              <label
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
                class="validation-message"
              ></label>
            </div>
              <div class="form-floating mb-3">
                <input
                  type="text"
                  id="username"
                  name="username"
                  aria-label="Username"
                  class="form-control"
                  placeholder="Username"
                  th:field="*{username}"
                  th:value="${user.username}"
                />
                <label for="floatingInput">Username</label>
                <label
                  th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}"
                  class="validation-message"
                ></label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  th:field="*{password}"
                  th:value="${user.password}"
                />
                <label for="floatingPassword">Password</label>
                <label
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="validation-message"
                ></label>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign up</button>
              </div>
              <br>
              <div th:if="${successMessage}" class="alert alert-success" th:utext="${successMessage}" role="alert"></div>
            </form>
            <a th:href="@{/login}">Or sign in</a>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
  </body>
</html>
